<textarea name="{$config[rows].name}" class="ok" cols="50" rows="10">{literal}{${/literal}{$config[rows].name}{literal}}{/literal}</textarea>
{*<div id="{$config[rows].name}Wrapper">{literal}{${/literal}{$config[rows].name}{literal}}{/literal}</div>
<script>{ldelim}literal{rdelim}widgets.createEditor({ldelim}el:'{$config[rows].name}Wrapper',val:Ext.getDom("{$config[rows].name}Wrapper").innerHTML{rdelim});{ldelim}/literal{rdelim}</script>
*}
