<html>
  <head>
    <style type="text/css">
		BODY { color: #000000; background-color: white; font-family: Verdana; margin-left: 0px; margin-top: 0px; }
		#content { margin-left: 30px; font-size: .70em; padding-bottom: 2em; }
		A:link { color: #336699; font-weight: bold; text-decoration: underline; }
		A:visited { color: #6699cc; font-weight: bold; text-decoration: underline; }
		A:active { color: #336699; font-weight: bold; text-decoration: underline; }
		A:hover { color: cc3300; font-weight: bold; text-decoration: underline; }
		P { color: #000000; margin-top: 0px; margin-bottom: 12px; font-family: Verdana; }
		pre { background-color: #e5e5cc; padding: 5px; font-family: Courier New; font-size: x-small; margin-top: -5px; border: 1px #f0f0e0 solid; }
		td { color: #000000; font-family: Verdana; font-size: .7em; }
		h2 { font-size: 1.5em; font-weight: bold; margin-top: 25px; margin-bottom: 10px; border-top: 1px solid #003366; margin-left: -15px; color: #003366; }
		h3 { font-size: 1.1em; color: #000000; margin-left: -15px; margin-top: 10px; margin-bottom: 10px; }
		ul { margin-top: 10px; margin-left: 20px; }
		ol { margin-top: 10px; margin-left: 20px; }
		li { margin-top: 10px; color: #000000; }
		font.value { color: darkblue; font: bold; }
		font.key { color: darkgreen; font: bold; }
		.heading1 { color: #ffffff; font-family: Tahoma; font-size: 26px; font-weight: normal; background-color: #003366; margin-top: 0px; margin-bottom: 0px; margin-left: -30px; padding-top: 10px; padding-bottom: 3px; padding-left: 15px; width: 105%; }
		.heading2 { color: #000000; font-family: Verdana; font-size: .8em; font-weight: normal; background-color: #dcdcdc; margin-top: 0px; margin-bottom: 0px; margin-left: -30px; padding-top: 2px; padding-bottom: 3px; padding-left: 15px; width: 105%; }
		.intro { margin-left: -15px; }
    </style>
<title>#service Hessian Service</title>
</head>
<body>
<div id="content">
   <p class="heading1">#service</p>
   <p class="heading2">Powered by SuperPHP over HessianPHP #version protocol</p>
   <br>
   <span>
     <p class="intro">This is a list of supported operations in this service.</p>
     <ul>
  	  #methods            
     </ul>
  </span>
  </div>
</body>
</html>
