<ul id="nav">
	<li{if $_action eq "list"} id="current"{/if}><a href="{$admin_class}.php" target="_new">列表</a></li>
  <li{if $_action eq "config"} id="current"{/if}><a href="#">配置</a></li>
</ul>
<br>
<br>
