{literal}{if $updateResult eq true}
<div class="alert alert-success">
	<button data-dismiss="alert" class="close">×</button>
	<strong>Success!</strong> {$updateResultMsg}.
</div>
{/if}{/literal}	
<div class="widget-box">
	<div class="widget-title">
		<span class="icon">
			<i class="icon-th"></i>
		</span>
		<h5>更新</h5>				
	</div>
	<div class="widget-content nopadding">
		<form action="" method="post" enctype="multipart/form-data" name="form1" class="form-horizontal">
{section name=rows loop=$config} {if $config[rows].insert}
	<div class="control-group">
		<label class="control-label">{$config[rows].comment}</label>
		<div class="controls">
			{include file=$config[rows].file}
		</div>
	</div>
{/if} {/section}
			<div class="form-actions">
				<button class="btn btn-success" type="submit">更新</button>
				<!--<button class="btn btn-primary" type="reset">重置</button>-->
			</div>
		</form>							
	</div>
</div>
