<div class="widget-box">
	<div class="widget-title">
		<span class="icon">
			<i class="icon-th"></i>
		</span>
		<h5>插入</h5>				
	</div>
	<div class="widget-content nopadding">
		<form action="" method="post" enctype="multipart/form-data" name="form1" class="form-horizontal">
		<div class="control-group">
{section name=rows loop=$config} {if $config[rows].insert}
			<label class="control-label">{$config[rows].comment}</label>
			<div class="controls">
				{include file=$config[rows].file}
			</div>
{/if} {/section}
		</div>
			<div class="form-actions">
				<button class="btn btn-success" type="submit">添加</button>
				<!--<button class="btn btn-primary" type="reset">重置</button>-->
			</div>
		</form>							
	</div>
</div>
