<div class="widget-box">
	<div class="widget-title">
		<span class="icon">
			<i class="icon-th"></i>
		</span>
		<h5>搜索</h5>				
	</div>
	<div class="widget-content nopadding">
		<form action="" method="get" name="form1" class="form-horizontal">
		<div class="control-group">
{section name=rows loop=$config} {if $config[rows].search}
			<label class="control-label">{$config[rows].comment}</label>
			<div class="controls">
				{include file=$config[rows].file}
			</div>
{/if} {/section}
		</div>
			<div class="form-actions">
				<input type="hidden" name="_action" value="search">
				<button class="btn btn-info" type="submit">查询</button>
				<!--<button class="btn btn-primary" type="reset">重置</button>-->
			</div>
		</form>							
	</div>
</div>
{include file="bootstrap/tpl.list.htm"}
