<div class="widget-box">
	<div class="widget-title">
		<span class="icon">
			<i class="icon-th"></i>
		</span>
		<h5>查看</h5>				
	</div>
	<div class="widget-content nopadding">
		<div id="DataTables_Table_0_wrapper" class="dataTables_wrapper" role="grid">
		{literal} {section name=mysec loop=$list} {/literal}
		<table class="table table-bordered table-striped table-hover">
			<tbody>	
{section name=rows loop=$config} {if $config[rows].select}			
				<tr>
					<td class="lefttitle">{$config[rows].comment} </td>
					<td>{literal} {$list{/literal}[mysec].{$config[rows].name} {literal} } {/literal} </td>
				</tr>
{/if} {/section}
			</tbody>
		</table>
		{literal} {/section} {/literal}
		{literal}<div id="oPage" prefix_url='?{$_url}' {$page_htc} ></div>{/literal}
		</div>								
	</div>
</div>
