<div class="widget-box">
	<div class="widget-title">
		<span class="icon">
			<i class="icon-th"></i>
		</span>
		<h5>查看</h5>				
	</div>
	<div class="widget-content nopadding">
		<div id="DataTables_Table_0_wrapper" class="dataTables_wrapper" role="grid">
			<table class="table table-bordered table-striped table-hover with-check">
				<thead>
					<tr>
						<th><input type="checkbox" id="title-table-checkbox" name="title-table-checkbox" /></th>
{section name=rows loop=$config} {if $config[rows].list}
						<th align="center" class="ui-state-default" role="columnheader" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1">
							<div class="DataTables_sort_wrapper">
								<a href="?{literal}{$_url}{/literal}&_order={$config[rows].name}{literal}{if $_order{/literal} eq "{$config[rows].name}"}%20desc{literal}{/if}{/literal}">{$config[rows].comment}</a>
								<span class="DataTables_sort_icon css_right {literal}{if $_order{/literal} eq "{$config[rows].name}"{literal}}{/literal}ui-icon ui-icon-triangle-1-s{literal}{elseif $_order{/literal} eq "{$config[rows].name} desc"{literal}}{/literal}ui-icon ui-icon-triangle-1-n{literal}{else}{/literal}ui-icon ui-icon-carat-2-n-s{literal}{/if}{/literal}"></span>	
						</div>
						</th>
{/if} {/section}
						<th style="width:80px" class="op">&#25805;&#20316;{* 操作 *}</th>
					</tr>
				</thead>
				<tbody>									
					{literal} {section name=mysec loop=$list} {/literal}				
					<tr>
						<td><input type="checkbox" name='{$key[0]}[]' value='{literal}{$list[mysec]{/literal}.{$key[0]}{literal}}{/literal}'/></td>	
{section name=rows loop=$config} {if $config[rows].list}	
					    <td>{literal}{$list[mysec]{/literal}.{$config[rows].name}{literal} } {/literal}</td>
{/if} {/section}
						<td align="center" id="oList_{literal}{$smarty.section.mysec.index}{/literal}" prefix_url="{section name=mysec loop=$key}&{$key[mysec]}={literal}{$list[mysec].{/literal}{$key[mysec]}{literal}}{/literal}{/section}">
							{literal}<div class="btn-group">
								<button class="btn btn-mini" title="查看" onClick="ListView('select',{$smarty.section.mysec.index});"><i class="icon-eye-open"></i></button>
								<button class="btn btn-mini" title="更新" onClick="ListView('update',{$smarty.section.mysec.index});"><i class="icon-refresh"></i></button>
								<button class="btn btn-mini" title="删除" onClick="ListView('delete',{$smarty.section.mysec.index});"><i class="icon-remove"></i></button>
							</div>{/literal}
						</td>  
					</tr>
					{literal} {/section} {/literal}
				</tbody>
			</table>
			{literal}<div id="oPage" prefix_url='?{$_url}' {$page_htc} ></div>{/literal}
			&nbsp;&nbsp;&nbsp;&nbsp;<button class="btn btn-danger" onClick="DeleteAll('{$key[0]}')">删除选中</button>
		</div>								
	</div>
</div>	
